Django==5.1.8
django-cors-headers==4.7.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-msgpack==1.0.2
djangorestframework-simplejwt==5.5.0
drf-spectacular==0.28.0
drf-spectacular-sidecar==2025.4.1
requests==2.32.3
shortuuid==1.0.13
